@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "商品详情";
}
<h2>商品详情</h2>

@Html.ActionLink("加入购物车", "AddToShoppingCart", "Customer")
@Html.ActionLink("购买", "Purchase", "Customer")

