@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "卖家商品管理";
}

<h2>卖家商品管理</h2>

@Html.ActionLink("上架商品", "AddProduct", "Seller")
@Html.ActionLink("订单管理", "SellerOrder", "Seller")

<div>
    商品1
    @Html.ActionLink("修改", "ProductInfo", "Seller")
    @Html.ActionLink("删除", "DeleteProduct", "Seller")
</div>